<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gramo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <application
        android:name="com.example.gramoproject.context.GRAMOApplication"
        android:allowBackup="true"
        android:icon="@mipmap/gram"
        android:label="GRAMO"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/gram_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity android:name="com.example.gramoproject.view.sign.LoginActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.gramoproject.view.main.MainActivity"/>
        <activity android:name="com.example.gramoproject.activity.sign.RegisterActivity" />
        <activity android:name="com.example.gramoproject.view.notice.NoticeActivity" />
        <activity android:name="com.example.gramoproject.activity.notice.NoticeAddActivity" />
        <activity android:name="com.example.gramoproject.view.calendar.CalendarActivity" android:windowSoftInputMode="adjustNothing"/>
        <activity android:name="com.example.gramoproject.view.homework.HomeworkAddActivity" />
        <activity android:name="com.example.gramoproject.view.homework.HomeworkShowActivity" />
        <activity android:name="com.example.gramoproject.view.homework.HomeworkMainActivity" />

        <service
            android:name="com.example.gramoproject.fcm.MyFirebaseMessagingService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>